:root{
    --font-one: 'Nunito', sans-serif
}
html{
    font-size: 62.5%
}



.header{
    height: 160px;
    width: 100%;
    font-size: 2rem;
    font-family: var(--font-one);
    font-style: initial;
    

}
li a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
li{
    display: block;
    float: left;
}