.grid{
    display: block;
    width: 100%;
}
/* Extra large */
.grid.wide{
    max-width: 1200px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}
.col{
    box-sizing: border-box;
    padding: 0 4px;
}

.s-0{
    display: none;
}
.s-1{
    flex:0 0 8.33333%;
    max-width: 8.33333%;
}
.s-2{
    flex:0 0 16.66667%;
    max-width: 16.66667%;
}
.s-2-4{
    flex:0 0 20%;
    max-width: 20%;
}
.s-3{
    flex:0 0 25%;
    max-width: 25%;
}
.s-4{
    flex:0 0 33.33333%;
    max-width: 33.33333%;
}

.s-5{
    flex:0 0 41.66667%;
    max-width: 41.66667%;
}

.s-6{
    flex:0 0 50%;
    max-width: 50%;
}

.s-7{
    flex:0 0 58.33333%;
    max-width: 58.33333%;
}

.s-8{
    flex:0 0 66.66667%;
    max-width: 66.66667%;
}

.s-9{
    flex:0 0 75%;
    max-width: 75%;
}

.s-10{
    flex:0 0 83.33333%;
    max-width: 83.33333%;
}

.s-11{
    flex:0 0 91.66667%;
    max-width: 91.66667%;
}

.s-12{
    flex:0 0 100%;
    max-width: 100%;
}

.so-1{
    margin-left: 8.33333%;
}
.so-2{
    margin-left: 16.66667%;
}
.so-2-4{
    margin-left: 20%;
}
.so-3{
    margin-left: 25%;
}
.so-4{
    margin-left: 33.33333%;
}

.so-5{
    margin-left: 41.66667%;
}

.so-6{
    margin-left: 50%;
}

.so-7{
    margin-left: 58.33333%;
}

.so-8{
    margin-left: 66.66667%;
}

.so-9{
    margin-left: 75%;
}

.so-10{
    margin-left: 83.33333%;
}

.so-11{
    margin-left: 91.66667%;
}


/* Large */
@media (min-width:740px) and (max-width:1023px) {
    .wide{
        width:644px;
    }
}
/* tablet */
@media  (min-width:740px) {
    .row{
        margin: 0 -8px;
    }

    .col{
        box-sizing: border-box;
        padding: 0 8px;
    }
    
    .m-0{
        display: none;
    }
    .m-0,.m-1,.m-2,.m-3,.m-4,.m-5,.m-6,.m-7,.m-8,.m-9,.m-10,.m-11,.m-12{
        display: block;
    }
    .m-1{
        flex:0 0 8.33333%;
        max-width: 8.33333%;
    }
    .m-2{
        flex:0 0 16.66667%;
        max-width: 16.66667%;
    }
    .m-2-4{
        flex:0 0 20%;
        max-width: 20%;
    }
    .m-3{
        flex:0 0 25%;
        max-width: 25%;
    }
    .m-4{
        flex:0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .m-5{
        flex:0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .m-6{
        flex:0 0 50%;
        max-width: 50%;
    }
    
    .m-7{
        flex:0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .m-8{
        flex:0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .m-9{
        flex:0 0 75%;
        max-width: 75%;
    }
    
    .m-10{
        flex:0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .m-11{
        flex:0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .m-12{
        flex:0 0 100%;
        max-width: 100%;
    }

    .mo-1{
        margin-left: 8.33333%;
    }
    .mo-2{
        margin-left: 16.66667%;
    }
    .mo-2-4{
        margin-left: 20%;
    }
    .mo-3{
        margin-left: 25%;
    }
    .mo-4{
        margin-left: 33.33333%;
    }
    
    .mo-5{
        margin-left: 41.66667%;
    }
    
    .mo-6{
        margin-left: 50%;
    }
    
    .mo-7{
        margin-left: 58.33333%;
    }
    
    .mo-8{
        margin-left: 66.66667%;
    }
    
    .mo-9{
        margin-left: 75%;
    }
    
    .mo-10{
        margin-left: 83.33333%;
    }
    
    .mo-11{
        margin-left: 91.66667%;
    }
}
/* lap */
@media  (min-width:1113px) {
    .row{
        margin: 0 -12px;
    }

    .col{
        box-sizing: border-box;
        padding: 0 12px;
    }
    
    .l-0{
        display: none;
    }
    .l-0,.l-1,.l-2,.l-2-4,.l-3,.l-4,.l-5,.l-6,.l-7,.l-8,.l-9,.l-10,.l-11,.l-12{
        display: block;
    }
    .l-1{
        flex:0 0 8.33333%;
        max-width: 8.33333%;
    }
    .l-2{
        flex:0 0 16.66667%;
        max-width: 16.66667%;
    }
    .l-2-4{
        flex:0 0 20%;
        max-width: 20%;
    }
    .l-3{
        flex:0 0 25%;
        max-width: 25%;
    }
    .l-4{
        flex:0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .l-5{
        flex:0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .l-6{
        flex:0 0 50%;
        max-width: 50%;
    }
    
    .l-7{
        flex:0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .l-8{
        flex:0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .l-9{
        flex:0 0 75%;
        max-width: 75%;
    }
    
    .l-10{
        flex:0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .l-11{
        flex:0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .l-12{
        flex:0 0 100%;
        max-width: 100%;
    }

    .lo-1{
        margin-left: 8.33333%;
    }
    .lo-2{
        margin-left: 16.66667%;
    }
    .lo-2-4{
        margin-left: 20%;
    }
    .lo-3{
        margin-left: 25%;
    }
    .lo-4{
        margin-left: 33.33333%;
    }
    
    .lo-5{
        margin-left: 41.66667%;
    }
    
    .lo-6{
        margin-left: 50%;
    }
    
    .lo-7{
        margin-left: 58.33333%;
    }
    
    .lo-8{
        margin-left: 66.66667%;
    }
    
    .lo-9{
        margin-left: 75%;
    }
    
    .lo-10{
        margin-left: 83.33333%;
    }
    
    .lo-11{
        margin-left: 91.66667%;
    }
}
/* Medium */ 
@media (min-width:1024px) and (max-width:1239px) {
    .wide{
        width:984px;
    }
    .wide.row{
        max-width: 0 -12px;
    }

    .col{
        box-sizing: border-box;
        padding: 0 12px;
    }
    
    .wide.l-0{
        display: none;
    }
    .wide.l-0,.wide.l-1,.wide.l-2,.wide.l-3,.wide.l-4,.wide.l-5,.wide.l-6,.wide.l-7,.wide.l-8,.wide.l-9,.wide.l-10,.wide.l-11,.wide.l-12{
        display: block;
    }
    .wide.l-1{
        flex:0 0 8.33333%;
        max-width: 8.33333%;
    }
    .wide.l-2{
        flex:0 0 16.66667%;
        max-width: 16.66667%;
    }
    .wide.l-2-4{
        flex:0 0 20%;
        max-width: 20%;
    }
    .wide.l-3{
        flex:0 0 25%;
        max-width: 25%;
    }
    .wide.l-4{
        flex:0 0 33.33333%;
        max-width: 33.33333%;
    }
    
    .wide.l-5{
        flex:0 0 41.66667%;
        max-width: 41.66667%;
    }
    
    .wide.l-6{
        flex:0 0 50%;
        max-width: 50%;
    }
    
    .wide.l-7{
        flex:0 0 58.33333%;
        max-width: 58.33333%;
    }
    
    .wide.l-8{
        flex:0 0 66.66667%;
        max-width: 66.66667%;
    }
    
    .wide.l-9{
        flex:0 0 75%;
        max-width: 75%;
    }
    
    .wide.l-10{
        flex:0 0 83.33333%;
        max-width: 83.33333%;
    }
    
    .wide.l-11{
        flex:0 0 91.66667%;
        max-width: 91.66667%;
    }
    
    .wide.l-12{
        flex:0 0 100%;
        max-width: 100%;
    }

    .wide.lo-1{
        margin-left: 8.33333%;
    }
    .wide.lo-2{
        margin-left: 16.66667%;
    }
    .wide.lo-2-4{
        margin-left: 20%;
    }
    .wide.lo-3{
        margin-left: 25%;
    }
    .wide.lo-4{
        margin-left: 33.33333%;
    }
    
    .wide.lo-5{
        margin-left: 41.66667%;
    }
    
    .wide.lo-6{
        margin-left: 50%;
    }
    
    .wide.lo-7{
        margin-left: 58.33333%;
    }
    
    .wide.lo-8{
        margin-left: 66.66667%;
    }
    
    .wide.lo-9{
        margin-left: 75%;
    }
    
    .wide.lo-10{
        margin-left: 83.33333%;
    }
    
    .wide.lo-11{
        margin-left: 91.66667%;
    }
}





